<!DOCTYPE html>
<html lang="en" ng-app="deviceOrientationApp">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Experimental app to use device orientation for interaction">
  <meta name="author" content="Davide Icardi">
  <link rel="icon" href="/images/favicon.ico">
  <title>device-orientation</title>

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">

  <link href="/css/cover.css" rel="stylesheet">
  <link href="/css/app.css" rel="stylesheet">
</head>

<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <h3 class="masthead-brand">
              <a href="#/">device-orientation</a>
            </h3>
            <nav>
              <ul class="nav masthead-nav">
                <li><a href="https://github.com/davideicardi/device-orientation">Source code</a>
                </li>
                <li><a href="http://www.davideicardi.com">About me</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>

        <div ng-view></div>

        <div class="mastfoot">
          <div class="inner">
            <p>by Davide Icardi</p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/angular/angular.min.js"></script>
  <script src="/angular-route/angular-route.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/js/three.min.js"></script>
  <script src="/js/qrcode-min.js"></script>
  <script src="/socket.io/socket.io.js"></script>

  <script src="/js/app.js"></script>
  <script src="/js/app-samsungModel.js"></script>
</body>

</html>
