
<div class="home-section">
  <h1>device-orientation</h1>
  <div>
    <img src="/images/deviceOrientation.png" />
    <img src="/images/arrow-right-icon.png" />
    <img src="/images/deviceInteraction.gif" />
  </div>
  <p class="lead">Experimental app that use device orientation to interact with a website.</p>
  <p>Open this website on a desktop computer or on a big monitor, then click the button below.</p>
  <button ng-click="startRoom()" class="btn btn-lg btn-primary">Start</button>
  <p><small>Reserved rooms: {{reservedRooms}}</small></p>
</div>

