<h1>Room {{roomId}}</h1>

<div class="row">
    <div class="col-lg-6">
        <qrcode version="4" size="150" data="https://device-orientation-davideicardi-2.c9.io/#/remote/x" href="https://device-orientation-davideicardi-2.c9.io/#/remote/x"></qrcode>
    </div>
    <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Device connected: {{device.name}}</div>
          <div class="panel-body">
            <p>Orientation: 
            alpha <span class="badge">{{device.orientation.alpha | number:1}}</span>, 
            beta <span class="badge">{{device.orientation.beta | number:1}}</span>,
            gamma <span class="badge">{{device.orientation.gamma | number:1}}</span>,
            face down <span class="badge">{{device.orientation.isFaceDown}}</span>
            </p>
          </div>
        </div>
    </div>
</div>

<di-three-js-viewer three-js-object="samsungModel"></di-three-js-viewer>
